main {
    margin: 25%;
    margin-top: 8%;
    padding: 2%;
  
    border-radius: 15px;
    background-color: #232323;
}

#home-link {
font-size: 2.5rem;
font-weight: 700;
}

#navbar {
position: fixed;
top: 0;
width: 100%;

display: flex;
flex-direction: row;
align-items: baseline;
margin-bottom: 0;

background-color: #343434;
}

.navbar-link {
color: #FFFFFF;
margin: 20px;
background-color: #565656;
border-radius: 15px;
padding: 10px;
line-height: 0.5;
}

#navbar-selected {
color: #6bb96f;
font-weight: 700;
}

img {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;

    image-rendering: pixelated;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
.help-list {
margin-left: 50px;
margin-right: 50px;
}
*/